[submodule "source/CicmWrapper"]
	path = source/CicmWrapper
	url = git://github.com/avilleret/CicmWrapper.git
[submodule "JamomaCore"]
	path = JamomaCore
	url = https://github.com/jamoma/JamomaCore.git
